<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="11"
      android:smallScreens="true"
      android:normalScreens="true"
      android:largeScreens="true"
      android:anyDensity="true"
      android:versionName="0.09" package="mobi.omegacentauri.PerApp">

     <uses-sdk android:minSdkVersion="5" />
    
    <application android:icon="@drawable/icon" android:label="PerApp"
    >
        <activity android:name="PerApp"
                  android:label="PerApp"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="mobi.omegacentauri.PerApp.PerAppService">
        </service>

		<activity android:name="mobi.omegacentauri.PerApp.Options" android:label="Options" />
        <receiver android:name="mobi.omegacentauri.PerApp.OnBootReceiver">
        <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
        <category android:name="android.intent.category.HOME" />        
        </intent-filter> 
        </receiver> 
    </application>
     
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    
</manifest>